body {
    width: 120vh;
    background-color: #ffffff;
}
.content {
    display: flex;
    justify-content: center;
}

img {
    width: 5cm;
    height: 5cm;
    margin-right: 50px;
    
}
.div_form {
    margin-left: 50px;
    size: 20cm;
}

.femail {
    font-weight: bold;
    display: flex;
    margin-bottom: 0,5cm;

}
.fusername {
    font-weight: bold;
    display: flex;
}
.pwd {
    font-weight: bold;
    display: flex;
}

input {
    margin-top: 0.2cm;
    margin-bottom: 0.4cm;
    padding-right: 9cm;
    padding-bottom: 0.5cm;
    
}
ul { 
    column-count: 2;
}

ul li {
    color: #4682B4;
}

li span {
    color: black;
}

button {
    width: 100px;
    height: 40px;
    margin-bottom: 1cm;
    margin-right: 1cm;
}

.div_left {
    float: left;
    padding-right: 10px;
    padding-left: 30px;
    margin-right: 0cm;
}

footer {
    float: left;
}