<div class="container" style="text-align: center">
  <h1>{{ title }}!</h1>
  <p>Busca tus personajes favoritos</p>
  <p>Páginas: {{ info.pages }}</p>
  <p>Total: {{ info.count }}</p>
  <div class="container-pages">
    <!-- Con esto hacemos nuestro bucle de la API para leer las páginas -->
    <ul class="paginator">
      <li
        *ngFor="let page of pages; let i = index"
        (click)="search($event, i)"
        [className]="'page ' + (i + 1 === currentPage ? 'selected-page' : '')"
      >
        {{ i + 1 }}
      </li>
    </ul>
  </div>

  <!-- Con esto podemos hacer nuestra busqueda de los personajes -->
  <input
    type="search"
    [(ngModel)]="q"
    placeholder="Search..."
    (keyup)="search($event, 0)"
  />
  <div class="main-container">
    <!-- Volvemos a repetir el bucle para la busqueda de personajes con imagen -->
    <div class="character-container" *ngFor="let character of characters">
     <!--  <img [src]="character.image" [alt]="character.name" />
      <p>{{ character.name }}</p>
      <p>Status: {{ character.status }}</p>
      <p>Species: {{ character.species }}</p> -->

      <!-- Me pinta la tarjeta del personaje pero necesita la información lo hacemos con input
      en el list-card-character.component.ts -->
      <!-- [value]="" esto es la llamada de nuestro input en el componente hijo para que salga los datos que tenemos guardado ahí
      En este caso es character que lo vemos en nuestro bucle ngFor -->
      <app-list-card-character [value] ="character"></app-list-card-character>
    </div>
  </div>
</div>
